.auth-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.div{
    width: 400px;
    padding: 2rem;
    text-align: center;
}

.full-width{
    width: 100%;
    margin-bottom: 1rem;
}

.switch-btn {
    margin-top: 1rem;
}
